

/*
gridview child {
    background-color: #ff0000;
}

gridview child:selected {
    background-color: #ff00ff;
}
*/

#activity_pane {
    padding: 10px;
}

#activity_pane #smudge {
    font-weight: bold;
    font-size: 50px;
    color: @text_primary;
}

#activity_pane #obombo {
    font-weight: bold;
    font-size: 20px;
    color: @gold;
}

#activity_pane #bps {
    font-weight: bold;
    font-size: 20px;
    color: @ghost_green;
}

