@define-color primary #dc5bfc;
@define-color background #2b2d30;
@define-color background_secondary #1e1f22;
@define-color background_shimmer #393b40;

@define-color text_primary #f6f6f6;
@define-color text_secondary #cbd7dc;
@define-color text_dark #9B9D9F;

@define-color ripple rgba(255, 255, 255, 0.15);

@define-color border #5a5d63;
@define-color border_light #4e5157;

@define-color gold #ffb224;
@define-color ghost_green #6bffb0;
